.main__content {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background-color: #ffffff5b;
    border-radius: 10px;
    min-height: 100vh;
    max-width: 90vw;
    margin: 1rem auto;
}

@media screen and (max-width: 800px) {
    .main__content{
        flex-direction: column;
    }
}